---
title: DPS Water Testing Results
created: '2020-11-12T12:25:57.033569'
modified: '2020-11-12T12:25:57.033576'
state: active
type: dataset
tags:
  - Detroit
  - Dhd
  - Dps
  - Education
  - Health
groups:
  - Local Government
csv_url: 'https://data.ferndalemi.gov/datasets/e1136ea17de0424496f68441416bb148_0.csv'
json_url: ''
layout: post

---
Results of tests for lead in drinking water at Detroit Public Schools (DPS) that were conducted in 2016.  All documents are in PDF format.<br /><br />For more information, please visit the <a href='https://detroitmi.gov/departments/detroit-health-department/programs-and-services/water-testing-results-schools-and-childcare-centers' rel='nofollow ugc' target='_blank'>Water Testing Results page on detroitmi.gov</a>.
