---
title: Daycare Water Testing Results
created: '2020-11-12T12:25:57.750147'
modified: '2020-11-12T12:25:57.750154'
state: active
type: dataset
tags:
  - Detroit
  - Dps
  - Health
groups:
  - Local Government
csv_url: 'https://data.ferndalemi.gov/datasets/5b508c4a22d14fcab3ec374c3c8f063d_0.csv'
json_url: ''
layout: post

---
Results of tests for lead in drinking water at city of Detroit daycare programs that were conducted in 2016.  All documents are in PDF format.<br /><br />For more information, please visit the <a href='https://detroitmi.gov/departments/detroit-health-department/programs-and-services/water-testing-results-schools-and-childcare-centers' rel='nofollow ugc' target='_blank'>Water Testing Results page on detroitmi.gov</a>.
